import { FC } from 'react';
import * as S from './style';

interface I{{ pascalCase component}} {};

export const {{ pascalCase component}}:FC<I{{ pascalCase component}}> = () => {
  return (
    <S.Container>
      <h1>{{ component }}</h1>
    </S.Container>
  )
}