import * as S from './style';
import { FC } from 'react';

interface I{{ pascalCase name}} {

};

export const {{ pascalCase name}}:FC<> = ({}) => {
  return (
    <S.Component>
      <h1>{{ name }}</h1>
    </S.Component>
  )
}